---
const {content, icon, color, hoverColor} = Astro.props
---

<div class='flex-shrink-0'>
	<button
		type='button'
		class=`relative inline-flex items-center gap-x-1.5 rounded-md ${color} px-3 py-2 text-sm font-semibold text-white shadow-sm hover:${hoverColor}focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500`
	>
		{content}
    <span class="material-symbols-outlined">{icon}</span>
	</button>
</div>
