---
import HeroContent from './HeroContent.astro'
import Slider from './Slider.astro'
---

<!-- style="background-image: url('/src/images/kitchen.jpg');" -->
<section class='relative flex w-full mx-auto mt-[100px] overflow-hidden'>
    <div class='bg-extension h-full bg-light-gray absolute z-[1] l-0'></div>
    <HeroContent/>
    <Slider/>
</section>
