---
import HeroContent from "./HeroContent.astro";
import Slider from "./Slider.astro";
---

<!-- <section class='relative flex sm:w-full sm:mx-auto'> -->
<section
  class="flex flex-col-reverse overflow-hidden sm:relative sm:mx-auto sm:w-full sm:flex-row"
>
  <!-- Complements the Design, Gray block to the left of the hero content -->
  <div
    class="bg-extension hidden sm:absolute sm:left-0 sm:block sm:h-full sm:bg-light-gray"
  >
  </div>
  <HeroContent />
  <Slider />
</section>
