---

---

<div
	class='inner-hero-content z-10 flex items-center space-y-4 absolute w-full h-full bg-light-gray clip-path'
>
	<div class='max-w-[450px] ml-0 absolute'>
		<div>home renovation</div>
		<h1 class='text-blk text-4xl'>Dreaming of a new</h1>
		<h1 class='text-blk text-4xl'>home remodel?</h1>
		<div class='text-dark-gray text-2xl'>
			We’ll help you bring your vision to life and transform your home into a
			space that’s functional, enjoyable, and inspiring. Get Started
		</div>
		<button
			class='bg-orange-500 text-white px-4 py-2 rounded shadow hover:bg-orange-400 focus:outline-none'
		>
			Get a Free Quote
		</button>
	</div>
</div>
