---

---

<div
	class='flex flex-col items-center justify-center space-y-4 absolute w-full h-full bg-slate-300'
>
	<div class='bg-slate-500 w-[450px] mr-auto ml-0'>
		<div>home renovation</div>
		<h1 class='text-blk text-4xl'>Dreaming of a new</h1>
		<h1 class='text-blk text-4xl'>home remodel?</h1>
		<div class='text-dark-gray text-2xl'>
			We’ll help you bring your vision to life and transform your home into a
			space that’s functional, enjoyable, and inspiring. Get Started
		</div>
		<button
			class='bg-orange-500 text-white px-4 py-2 rounded shadow hover:bg-orange-400 focus:outline-none'
		>
			Get a Free Quote
		</button>
	</div>
</div>
