---

---

<div
        class='inner-hero-content z-10 flex items-center space-y-4 absolute w-full h-full bg-light-gray clip-path'
>
    <section class='max-w-[450px] ml-0 absolute flex flex-col gap-3'>
        <h2 class='text-blk text-4xl'>Dreaming of a new <br/> home remodel?</h2>
        <p class='text-dark-gray text-xl'>
            We’ll help you bring your vision to life and transform your home into a
            space that’s functional, enjoyable, and inspiring.
        </p>
        <a href="#"
                class='bg-orange-500 text-white px-4 py-2 mx-auto ml-0 rounded shadow hover:bg-orange-400 focus:outline-none'
        >
            Get a Free Quote
        </a>
    </section>
</div>
