---
import CTAButton from "./CallToActionBtn.astro";
---

<div
  class="inner-hero-content clip-path absolute z-[1] flex h-full w-full items-center space-y-4 bg-light-gray"
>
  <section class="absolute ml-0 max-w-[450px]">
    <div
      class="mb-5 text-left font-medium uppercase tracking-[5.25px] text-gray"
    >
      home renovation
    </div>
    <h1 class="text-5xl font-bold leading-tight tracking-[-0.75px] text-black">
      Dreaming of a new <span class="typed text-main"></span>?
    </h1>

    <p class="mb-7 mt-6 text-lg text-wolf-gray">
      We’ll help you bring your vision to life and transform your home into a
      space that’s functional, enjoyable, and inspiring. Get Started
    </p>
    <CTAButton
      content="Get Started"
      icon="arrow_right_alt"
      color="bg-dark-metallic"
    />
  </section>
</div>
