---
import CTAButton from './CallToActionBtn.astro'
---

<div
        class='inner-hero-content z-10 flex items-center space-y-4 absolute w-full h-full bg-light-gray clip-path'
>
	<div class='max-w-[450px] ml-0 absolute'>
		<div class="title-prefix text-start text-gray-2">home renovations</div>
		<h1 class='title text-blk text-[48px] leading[54px]'>Dreaming of a new</h1>
		<h1 class='text-blk text-4xl'>home remodel?</h1>
		<div class='text-dark-gray text-2xl'>
			We’ll help you bring your vision to life and transform your home into a
			space that’s functional, enjoyable, and inspiring. Get Started
		</div>
		<CTAButton content="Get Started" icon="arrow_right_alt" color="bg-orange-500" hover="bg-orange-400" />
	</div>
</div>
