---
const links = ['Home', 'Services', 'Gallery', 'About', 'FAQ']
---

<div class="hidden absolute w-full" id='mobile-menu'>

  <div class='bg-gradient-to-b from-main to-[#f7ad78]' >
  	<div class='space-y-1' >
      {links.map(link => (
          <li class="list-none pl-4 sm:pl-6 py-4 drop-shadow-2xl">
            <a
        			href='#'
        			class=' text-xl text-light-gray font-semibold'
        			aria-current='page'>{link}
            </a>
          </li>
        ))
  		}
  	</div>
  </div>
</div>

