---

---

<div class='hidden' id='mobile-menu'>
	<div class='space-y-1 px-2 pb-3 pt-2 sm:px-3'>
		<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
		<a
			href='#'
			class='text-dark-gray hover:bg-blk hover:text-white block rounded-md px-3 py-2 text-base font-medium'
			aria-current='page'>Home</a
		>
		<a
			href='#'
			class='text-dark-gray hover:bg-blk hover:text-white block rounded-md px-3 py-2 text-base font-medium'
			>Services</a
		>
		<a
			href='#'
			class='text-dark-gray hover:bg-blk hover:text-white block rounded-md px-3 py-2 text-base font-medium'
			>Gallery</a
		>
		<a
			href='#'
			class='text-dark-gray hover:bg-blk hover:text-white block rounded-md px-3 py-2 text-base font-medium'
			>About</a
		>
	</div>
</div>
