---
import NavLinks from './NavLinks.astro'
import CTAButton from "./CallToActionBtn.astro"
import HamburgerBtn from './HamburgerBtn.astro'
import Logo from './Logo.astro'
import NavbarLayout from "../layouts/NavbarLayout.astro";
---

<NavbarLayout>
	<div class='flex items-center gap-3 lg:justify-between h-[100px]'>
    <Logo />
		<NavLinks />
		<CTAButton content="Start Your Project" icon="arrow_right_alt" color="bg-main"/>
    <HamburgerBtn client:load/>
	</div>
</NavbarLayout>