---

---

<section class="bg-light-gray flex flex-col py-8 items-center">
    <h3 class="uppercase tracking-widest text-neutral-500 text-lg">Our Services</h3>
    <h4 class="text-3xl font-bold">Explore how we can <span class="text-orange-500" s>transform</span> your home.</h4>
    <section class="w-full bg-amber-100 flex flex-row justify-center">
        <article class="border">
            <img class="w-[150px]" src="src/images/carousel/02-slide.jpg"/>
            <div>
                <p>Kitchens</p>
                <span>-></span>
            </div>
        </article>
        <article>
            <img/>
            <div>
                <p>Basements</p>
                <span>-></span>
            </div>
        </article>
        <article>
            <img/>
            <div>
                <p>Bathrooms</p>
                <span>-></span>
            </div>
        </article>
        <article>
            <img/>
            <div>
                <p>Home Theatres & Media Rooms</p>
                <span>-></span>
            </div>
        </article>
        <article>
            <img/>
            <div>
                <p>Large-Scale Renovations</p>
                <span>-></span>
            </div>
        </article>
    </section>
</section>