---
import imageList from '../data/images.json'
const doubledList = imageList.concat(imageList)
---

<div class='slider bg-egg-white ml-auto w-3/5 pt-4'>
	<div class='slide-track flex flex-col flex-wrap h-[556px] justify-between'>
		{
			doubledList.map(image => (
				<div class='slide'>
					<img src={image} alt='' />
				</div>
			))
		}
	</div>
</div>
