---
import MobileMenu from '../components/MobileMenu.astro'
---

<div>

  <nav
  class="sticky left-0 top-0 z-50 border-b-[1px] border-[#D7D8D9] bg-white"
  >
    <!-- Inner Nav Container -->
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <slot />
    </div>

    <MobileMenu />
  </nav>
</div>
